<div class="home-main">
    <div class="container" >
        <div class="d-flex row align-items-center justify-content-center" >
            <div class="home-heading col-lg-6 col-md-6" style="margin-top: 50px;">
                <h1 class="font-lac header-home-heading">OG Stoneheads</h1>
                <p style="margin-bottom: 20px;">2420 Unique Stoneheads chillin on the #Solana blockchain <br>Powered by $KIEF🌿</p>
                <div class="buttons-home">
                <a href="https://www.allblue.dev/launch/detail/og_stoneheads" class="button-home-mint navbar_display button" style="margin-right: 10px ;">Mint now</a>
                <a href="https://og-stoneheads-1.gitbook.io/og-stoneheads-rollingpaper-whitepaper/sq0cHSgqmP63ymL2vnov/" class="button-home-wp navbar_display button" style="margin-left: 10px ;">Read Our Whitepaper</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6" style="margin-top: 50px;">
                <%= image_tag "giflightin.gif", class: "video_home" %>
            </div>
        </div>
    </div>
</div>

<div id="home" class="about" style="padding-top: 100px;">
  <div class="container">

  <h1 class="font-lac header-home-heading-w">OG Stoneheads</h1>
  <p class="para-w">OG Stoneheads is a collection of 2420 randomly generated NFTs on the Solana blockchain.<br><br>
Our inspiration for the art & name of the project comes from the ancient Olmec Stoneheads.<br>
So the “OG” in the name isn’t the usual acronym, well at least half of it.<br>
 It stands for Olmec Gangsters, because they look pretty badass.<br><br>

<strong >Why the Cannabis?</strong><br> We, the founders are passionate weed smokers and we really wanted to make it a part of the project’s identity.<br>
 Also, the Olmec Heads look like they’re stoned as hell.</p>

  </div>
</div>
<!--
<div class="slidermu">
  <div class="slide-track">
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
      <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
      <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
    <div class="slide">
       <%= image_tag "1.PNG", class: "video_home2" %>
    </div>
  </div>
</div>
 -->
<div class="ahmeda" style="margin-top: 100px;">
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <%= image_tag "1.PNG", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "2.PNG", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "3.PNG", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "4.png", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "5.png", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "6.png", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "7.PNG", class: "video_home" %>
    </div>
     <div class="slide">
      <%= image_tag "1.PNG", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "2.PNG", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "3.PNG", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "4.png", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "5.png", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "6.png", class: "video_home" %>
    </div>
    <div class="slide">
      <%= image_tag "7.PNG", class: "video_home" %>
    </div>
  </div>
</div>
</div>
<!--
<div class="slider">
<div class="picturesalll" style="padding-top:100px;">
  <div class="d-flex row" style="width: 200%;">
    <div class="col-lg-1 kurac">
      <%= image_tag "1.PNG", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "2.PNG", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "3.PNG", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "4.png", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "5.png", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "6.png", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "1.PNG", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "2.PNG", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "3.PNG", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "4.png", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "5.png", class: "video_home" %>
    </div>
    <div class="col-lg-1 kurac">
      <%= image_tag "6.png", class: "video_home" %>
    </div>
  </div>
</div>
</div>
 -->



<div id="roadmap" class="roadmap" style="padding-top:100px; margin-top:100px ;">
<div class="container">
  <h1 class="center font-lac header-home-heading-w" style="padding-bottom: 40px; ">Stonemap</h1>

  <article class="episode">
    <div class="episode__number">Phase 1</div>
    <div class="episode__content">
      <div class="title">Return of the Ancients <!-- <br>(1st-30th of April) --></div>
      <div class="story"><p>
       <strong> OG Stoneheads</strong> have landed on Twitter! Become part of a unique Stoner community that is all
about giving value back to the people. There will be <strong>4200</strong> unique Stoneheads available for
minting.
       <br><br> In this phase we will:
<br>
<ul>
  <li>Do giveaways on <strong>Twitter</strong> ($SOL, WL spots & 5 OG Stonehead NFTs)</li>
  <li>Open up our <strong>Discord</strong> server</li>
  <li>Release our <strong>Mint Date and Price</strong></li>
  <li>Release our full <strong>Whitepaper & Tokenomics</strong></li>
  <li>Release our <strong>web3 website</strong></li>
  <li>Announce <strong>BIG</strong> partnerships in the space</li>
  <li>Detailed <strong>$KIEF Tokenomics</strong> overview</li>
  <li>Art previews, <strong>Staking</strong> previews and much more</li>
</ul>

</p>

      </div>
    </div>
  </article>

  <article class="episode">
    <div class="episode__number">Phase 2</div>
    <div class="episode__content">
      <div class="title">Turning Stone into Bread <!-- <br>(1st-31st of May) --></div>
      <div class="story"><p>
       24 hours after the mint, our staking website will go live. When you stake your Stonehead, he
chills and smokes more than a few joints in a day. This means that he will be racking up <strong>$KIEF</strong>
in his <strong>Grinder</strong> daily.</strong>
      <br><br>
       <strong>42% of primary and secondary</strong> sales will be allocated to keeping the token economy stable,
by constantly adding new purchasable rewards and controlling the liquidity pool.
      <br>
      <ul>
        <li>Use $KIEF to buy raffle tickets to win Blue Chip NFTs</li>
        <li>Use $KIEF to bid on auctions & win expensive NFTs</li>
        <li>You can use $KIEF for a monthly subscription of our own smoking equipment</li>
      </ul>
      <br>
      Introducing the <strong>StoneMine</strong>, our treasury filled with Solana's best NFTs. We are proud to
announce our first acquisition for the <strong>StoneMine</strong> are a Stoned and Nuked Ape.
      <br><br>
        <p>The creation of StoneheadDAO, an alpha chat for holders with many perks such as:<br>
           <ul>
          <li>A voting system for all major decisions for the project,</li>
          <li>In-depth analysis of upcoming projects (a whole lot of alpha info),</li>
          <li>Vote for the next StoneMine Acquisition,</li>
          <li>Whitelist spots for holders,</li>
          <li>Helping holders who are aspiring creators and devs to network with like-minded people</li>
        </ul>


 </p>
      </div>
    </div>
  </article>

  <article class="episode">
    <div class="episode__number">Phase 3</div>
    <div class="episode__content">
      <div class="title">StoneLab</div>
      <div class="story">
      <br><br>
      <p>Launching <strong>StoneLab,</strong> a platform that provides services for new projects in the #Solana
ecosystem. We will be offering services such as:
        <ul>
          <li>Project consultation</li>
          <li>Art ( 2D, 3D, logos, banners & more)</li>
          <li>Video editing</li>
          <li>Website development</li>
          <li>Marketing services</li>
          <li>Discord services</li>
          <li>Doxxing</li>
          <li>Copywritting</li>
        </ul>
        <br>
        42% of the revenue generated through <strong>StoneLab</strong> will go to keeping the $KIEF token stable.
        <br><br>
        <strong>StoneLab Refferal System-</strong> We’re hustlers, so we want to give our holders an opportunity to
hustle as well. Your Stoneheads # will be your unique Referral Code. You will receive 10% of
the revenue generated through the referred service. This can also be used as a discount for
your own project.<br><br>
        Introducing new burning mechanics to our <strong>$KIEF Store.</strong>
        <br><br>
        We will release 42 1/1 Stoneheads. Burn 3 Stoneheads+ amount of $KIEF for a custom 1of1
Stonehead with special utilities (ability to collect more $KIEF, 20% StoneLab referral fees, and
more).<br><br>

        </p>
      </div>
    </div>
  </article>

  <article class="episode">
    <div class="episode__number">Phase 4</div>
    <div class="episode__content">
      <div class="title">Party Island <!-- <br>(July, August) --></div>
      <div class="story">
        <p>Purchase a plane ticket using $KIEF and send your StoneHead to <strong>Party Island.</strong>
<br><br>He'll be doing all kinds of crazy shit, partyin' and doin' hard drugs for 10 days.
<br><br>After 10 days, he will come back as a DopeHead and his productivity will go up, generating
more $KIEF per day. DopeHeads will not be a new collection, just an upgrade to OG
Stoneheads.</p>
      </div>
    </div>
  </article>

   <article class="episode">
    <div class="episode__number">Phase 5</div>
    <div class="episode__content">
      <div class="title">Rehab<!-- <br>(Late 2022,early 2023) --></div>
      <div class="story">
        <p>The CokeHeads started getting more and more problems due to their addiction. Maybe they
should lay off the coke for a bit so fökit, let’s send them to rehab to get their shit together.
<br><br>Pay the Rehab Clinic bill with $KIEF and get a sober Stonehead in 10 days.
<br><br>After the Rehab they’ll do some therapy in the StoneLab and come back home. Oh, and they’re
gonna be 3D, cause fökit.</p>
      </div>
    </div>
  </article>
  <article class="episode">
    <div class="episode__number">Phase 6</div>
    <div class="episode__content">
      <div class="title">Fökit Talent Show & Fökit Meet Ups<!-- <br>(Late 2022,early 2023) --></div>
      <div class="story">
        <p><strong>Fökit Talent Show-</strong> The first web3 talent show. Show your talents, skills, art, and jokes to the
Stoneheads fam and some web3 and real-life celebrities. The winner gets a paid trip to Ibiza for
4 people & a custom 1of1 Winner Stonehead. Oh, and a car, cause fökit.
<br><br>
<strong>Fökit Meet Ups-</strong> Real-life meet-up with the Stonehead fam. Gettin’ lit with the homies in
different cities. Crazy parties</p>
      </div>
    </div>
  </article>
</div>

</div>


<div id="team" class="about" style="padding-top: 100px;">
  <div class="container">
  <h1 class="font-lac header-home-heading-w">Meet Our Team</h1>

  <div class="d-flex row justify-content-center" style="padding: 50px 0;">
    <div class="col-lg-3">
      <%= image_tag "treci.png", class: "monkey_picture_link-2" %>
      <h3 class="team_name">CO-CEO - Yung Breezy</h3>
      <p class="team_para" style="padding-bottom: 10px;">Artist & Web Developer</p>
      <p class="team_para" style="font-style: italic;">"Sales man bringing ideas to life with Various experience & skills in the web3 space, with strong passion for dev, art and marketing." </p>
      <a href="https://twitter.com/OG_Stoneheads" class="link_c_team" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://discord.gg/J2qmneVmv5" class="link_c_team" target="_blank"><i class="fa-brands fa-discord"></i></a>
    </div>
    <div class="col-lg-3">
      <%= image_tag "prvi.png", class: "monkey_picture_link-2" %>
      <h3 class="team_name">CO-CEO - OG Dre</h3>
      <p class="team_para" style="padding-bottom: 10px;">Marketing & Financial Director</p>
      <p class="team_para" style="font-style: italic;">"Creativity specialist bringing ideas to table. Key to keeping the analysis on point and running a numbers game."</p>
      <a href="https://twitter.com/OG_Stoneheads" class="link_c_team"  target="_blank" ><i class="fa-brands fa-twitter"></i></a>
      <a href="https://discord.gg/J2qmneVmv5" class="link_c_team" target="_blank" ><i class="fa-brands fa-discord"></i></a>
    </div>
    <div class="col-lg-3">
      <%= image_tag "drugi.png", class: "monkey_picture_link-2" %>
      <h3 class="team_name">CFO - OG Biggie</h3>
      <p class="team_para" style="padding-bottom: 10px;">Community manager & Designer</p>
      <p class="team_para" style="font-style: italic;">"Mentality freak in the team who makes sure that everything is finished on time, keeping a schedule and executing on it."</p>
      <a href="https://twitter.com/OG_Stoneheads" class="link_c_team"  target="_blank" ><i class="fa-brands fa-twitter"></i></a>
      <a href="https://discord.gg/J2qmneVmv5" class="link_c_team" target="_blank" ><i class="fa-brands fa-discord"></i></a>
    </div>
    <div class="col-lg-3">
      <%= image_tag "cetvrti.png", class: "monkey_picture_link-2" %>
      <h3 class="team_name">Tokenomics - Riddler</h3>
      <p class="team_para" style="padding-bottom: 10px;">(External) Tokenomics advisor<br></p>
      <p class="team_para" style="font-style: italic;">"Master of tokenomics and complex algorithms who keeps the token stable and healthy that works for <strong>Sea Shanties</strong> and <strong>Hydra Launchpad</strong>"</p>
      <a href="https://twitter.com/OG_Stoneheads" class="link_c_team"  target="_blank" ><i class="fa-brands fa-twitter"></i></a>
      <a href="https://discord.gg/J2qmneVmv5" class="link_c_team" target="_blank" ><i class="fa-brands fa-discord"></i></a>
    </div>
  </div>

  </div>
</div>





<div id="faq" class="faq-us" style="padding-top:100px;">
<div class="text-center">
    <h2 class="font-lac header-home-heading-w">FAQ</h2>
  </div>
  <section class="container my-5" id="maincontent" style="height:100%;">
    <div id="accordion" style="height:100%!important;">
      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-1" aria-expanded="false" data-toggle="collapse" href="#faq-1" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What are OG Stoneheads?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-1" style="">
        <div class="card card-body border-0 p-0">
          <p>OG Stoneheads is a collection of 2420 hand-drawn, unique NFT's chillin' on Solana blockchain.</p>

        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-2" aria-expanded="false" data-toggle="collapse" href="#faq-2" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What is the supply of OG Stoneheads?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-2" style="">
        <div class="card card-body border-0 p-0">
          <p>Only 2420 OG Stonehead NFT's.</p>
        </div>
      </div>


       <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-3" aria-expanded="false" data-toggle="collapse" href="#faq-3" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How much mint price?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-3">
        <div class="card card-body border-0 p-0">
          <p>
            Whitelist Price: 0.75 SOL<br>
            Public Price: 1.25 SOL<br></p>
          <p>
          </p>
        </div>
      </div>

       <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-4" aria-expanded="false" data-toggle="collapse" href="#faq-4" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            When is the mint ?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-4" style="">
        <div class="card card-body border-0 p-0">

          <p>Mint Date: 19th of May 2022 <br>Presale Mint: 20:00 UTC <br> Public Mint: 21:00 UTC </p>

        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-5" aria-expanded="false" data-toggle="collapse" href="#faq-5" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Which wallet can I use to mint?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-5" style="">
        <div class="card card-body border-0 p-0">
          <p>Phantom (recommended), Sollet and Solflare.</p>

        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-6" aria-expanded="false" data-toggle="collapse" href="#faq-6" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How much of the supply will be available for the whitelist sale?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-6" style="">
        <div class="card card-body border-0 p-0">
          <p>1420 NFT Cards have been reserved for the Whitelist Sale. And 1000 for Public.</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-7" aria-expanded="false" data-toggle="collapse" href="#faq-7" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How do I get Whitelisted?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-7">
        <div class="card card-body border-0 p-0">
          <p>Join our <a href="https://discord.gg/J2qmneVmv5 " class="link_c" >Discord</a> and follow the steps provided.</p>
        </div>
      </div>

       <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-8" aria-expanded="false" data-toggle="collapse" href="#faq-8" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What is the best email to reach you at?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-8">
        <div class="card card-body border-0 p-0">
          <p>The best email for any inquiries is <a class="link_c" href="mailto:ogstoneheads@gmail.com;">ogstoneheads@gmail.com</a>!</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block  position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-9" aria-expanded="false" data-toggle="collapse" href="#faq-9" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Where can I buy OG Stoneheads NFT after the mint (Secondary market)?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-9">
        <div class="card card-body border-0 p-0">
          <p>Magic Eden.</p>
        </div>
      </div>


    </div>
  </section>
</div>
